* {
  margin: 0;
  padding: 0;
}

.g-btn-sign-in {
	background: #fff;
	font: 16px/22px Roboto;
	padding: 4px 8px;
	border: 1px solid #ccc;
	display: inline-block;
	cursor: pointer;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

navbar-top nav ul {
	display: inline;
}

.loader {
	float: right;
	border: 3px solid #f3f3f3; /* Light grey */
	border-top: 3px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
			transform: rotate(0deg);
	}
	100% {
			transform: rotate(360deg);
	}
}

li:hover {
	background-color: #343a40;
	transition: 0.4s;
	color: white;
}

li a {
	text-decoration: none;
	color: #343a40;
}

li a:hover {
	color: rgb(255, 255, 255);
}

input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 0 10px 0 32px;
	width: 55px;
	margin-right: 5px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	-webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
	font-family: inherit;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=search]:focus {
	width: 150px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}

input::-webkit-input-placeholder {
	color: #999;
}